<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Stats Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/page.css') }}">
</head>
<body>
    <a href="/" class="back-button">
        <span class="arrow">&larr;</span> Back to Dashboard
    </a>

    <h1>visits count</h1>

    <table>
        <thead>
            <tr>
                <th>Path</th>
                <th>Visits</th>
            </tr>
        </thead>
        <tbody>
            {% for visit in visits %}
            <tr>
                <td>{{ visit.path }}</td>
                <td>{{ visit.count }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
